// font imports are handled here:
$font-family-sans-serif:
    var(--font-notoSans),
    var(--font-notoSansJp),
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Liberation Sans",
    Arial,
    system-ui,
    -apple-system,
    sans-serif,
    var(--font-notoEmoji),
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";

$headings-font-family:
    var(--font-fredoka),
    var(--font-kosugiMaru),
    #{$font-family-sans-serif};

@import "./colors";
@import "@chez14/plong/src/scss/components";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

$code-color: $dark;
$code-color-dark: $wandering-white-600;

$body-secondary-color-dark: $wandering-white-700;
