@import "~/styles/systems/colors";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.grouping {
    @include row-cols(1);

    @include media-breakpoint-up(md) {
        @include row-cols(2);
    }

    @include media-breakpoint-up(lg) {
        @include row-cols(3);
    }
}
