@import "~/styles/systems/colors";
@import "~bootstrap/scss/variables";

.card {
    background-color: $gloomy-gray-600;
    color: $wandering-white;

    p {
        margin-bottom: 0rem;
    }

    :global {
        .card-body {
            display: flex;
            flex-direction: column;
        }

        .card-body > div {
            margin-bottom: $spacer/2;

            &:last-child {
                margin-bottom: 0rem;
            }
        }

        .item-header {
            font-size: $font-size-sm;
            display: flex;
            flex-wrap: wrap;

            a {
                color: $wandering-white-700;
                text-decoration: none;

                &:hover {
                    color: $wandering-white-600;
                    text-decoration: underline;
                }
            }

            &__repo {
                flex-grow: 1;
            }
        }

        .item-title {
            flex-grow: 1;
            a {
                color: $wandering-white;
                text-decoration: none;

                &:hover {
                    color: $wandering-white-400;
                    text-decoration: underline;
                }
            }
        }

        .item-timestamp {
            color: $wandering-white-700;
        }
    }
}
