@import "~/styles/systems/colors";
@import "~bootstrap/scss/variables";

$status-open: $gladly-green-800;
$status-close: $restless-red-800;
$status-merge: $persuasive-purple-700;

.label {
    border-radius: 20rem;
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
    padding: 0rem;
    display: inline-block;

    & > * {
        padding: var(--#{$prefix}badge-padding-y) var(--#{$prefix}badge-padding-x);
        display: inline-block;
    }

    span.icon {
        padding: var(--#{$prefix}badge-padding-y) calc(var(--#{$prefix}badge-padding-x) + #{$spacer/4});
    }
}

.statusOpen {
    &.label {
        border-color: $status-open;
    }
    .opaque {
        background-color: $status-open;
    }
}

.statusClose {
    &.label {
        border-color: $status-close;
    }
    .opaque {
        background-color: $status-close;
    }
}

.statusMerge {
    &.label {
        border-color: $status-merge;
    }
    .opaque {
        background-color: $status-merge;
    }
}
