@import "../../styles/systems/colors";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.ctaContact {
    margin: 1.7rem 0rem;
    padding: 1.7rem;
    background-color: $restless-red-700;

    .ctaButton {
        @include media-breakpoint-up(md) {
            text-align: right;
        }
    }

    .ctaText p:last-child {
        margin-bottom: 0rem;
    }
}
