@import "~/styles/systems/theme";

.logo {
    aspect-ratio: 500/283;

    :global {
        // Will set defaults to current color.
        .logo-part {
            fill: currentColor;
            transition: fill 0.15s ease-out, color 0.15s ease-out;

            $transitionDelayStep: 20ms;
            // add slight transition for the logo!
            &:nth-child(2) {
                transition-delay: #{$transitionDelayStep * 1};
            }

            &:nth-child(3) {
                transition-delay: #{$transitionDelayStep * 2};
            }
        }
    }
    &.logo-dark {
        :global {
            .logo-part-1 {
                color: $wandering-white;
            }
            .logo-part-2 {
                color: $restless-red;
            }
        }
    }

    &.logo-light {
        :global {
            .logo-part-1 {
                color: $gloomy-gray;
            }
            .logo-part-2 {
                color: $restless-red;
            }
        }
    }
}
