@import "~/styles/systems/theme";
@import "~@chez14/plong/src/scss/components/navbar";
@import "~bootstrap/scss/mixins";

.logo {
    height: $navbar-brand-height - $navbar-brand-padding-y;
    width: auto;
}

.padders {
    $totalHeightNeeded: #{$nav-link-height + ($navbar-padding-y * 2)};
    display: block;
    height: #{$totalHeightNeeded};
}

.navbarMenu > * {
    $space: map-get(
        $map: $spacers,
        $key: 4,
    );

    gap: #{$space};

    @include media-breakpoint-down(md) {
        margin-top: #{$space};
    }
}
