@import "~/styles/systems/theme";
@import "~bootstrap/scss/mixins";

.linkButton {
    display: block;
    background-color: $gloomy-gray-800;
    text-align: left;
    height: 100%;
    padding: 1rem;

    :global {
        .linkbutton-link {
            word-break: break-all;
        }

        .linkbutton-title {
            display: block;
            font-weight: bolder;
            margin-bottom: 0.5rem;
            font-size: 1.1rem;

            &>svg {
                margin-right: 1rem;
            }
        }
    }
}
