doctype html
html(lang="en")
    head
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..600&family=Kosugi+Maru:wght@100..700&family=Noto+Sans+JP:wght@100..700&family=Open+Sans:wght@300..600&display=swap" />
        style.
            .email-body {
                font-family: "Open Sans", "Noto Sans JP", "Segoe UI", "Roboto", "Helvetica Neue", "Liberation Sans", Arial, system-ui, -apple-system, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
            }

            pre {
                background-color: rgba(0,0,0,0.2);
                padding: 2rem;
            }

            .text-caution {
                color: #ca6510;
            }

    body
        .email-body
            h2 Contact Form Request
            p Hey, there is a new contact from #{name}, with following details:

            p.
                Name: <b>#{name}</b> <br/>
                Email: <b>#{email}</b> <br/>
                Subject: <b>#{subject}</b> <br/>
            pre #{message}

            p.text-caution.
                Remember, all html tags were escaped and users are encouraged to write in markdown.

