@import "~/styles/systems/colors";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.postItemLinker {
    text-decoration: none;
    --#{$prefix}link-color: #{$body-color};
    --#{$prefix}link-hover-color: #{$body-color};
}

.postItem {
    --#{$prefix}card-bg: #{$gloomy-gray-700};
    // --#{$prefix}card-spacer-x: 0rem;
    height: 100%;

    :global {
        .post-image-container {
            aspect-ratio: 16/9;
            width: 100%;
            overflow: hidden;
            position: relative;
            display: block;

            &::after {
                content: "";
                height: 100%;
                width: 100%;
                position: absolute;

                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: $gloomy-gray-900;
                opacity: 0;

                transition: opacity 0.2s ease-out;
            }

            &.is-visible::after {
                background-image: var(--blog-featured-img);
                opacity: 1;
            }
        }

        .card-body.post-imageless {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .card-body p:last-child {
            margin-bottom: 0rem;
        }

        .card-title {
            margin-bottom: 1rem;
            line-height: 150%;
        }

        .post-taglists {
            gap: 0.2rem;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0.5rem;
            a {
                display: inline-block;
            }
        }
    }
}
