@import "~/styles/systems/theme";
@import "~bootstrap/scss/mixins";

.sectionHead {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: map-get($map: $spacers, $key: 2);

    :global {
        .section-header-title {
            flex-shrink: 1;

            & > * {
                margin-bottom: 0rem;
            }
        }

        .section-header-handle {
            flex-grow: 1;
            justify-content: flex-end;
            text-align: right;
        }
    }
}
